<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% liquid
      if settings.type_use_adobe_degular == false
        assign use_adobe_degular = false
      else
        assign use_adobe_degular = true
      endif
    %}
    {% if use_adobe_degular %}
      {% render 'typekit-fonts' %}
    {% endif %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {{ 'tailwind.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {% render 'scripts' %}

    {{ content_for_header }}
  </head>

  <body>
    {% render 'skip-to-main' %}

    <main id="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
